{% extends 'base.html' %}

{% block title %}
    
{% endblock %}
アニメ
{% block content %}
    <h1>ANIME</h1>    
        <form class="form-inline my-2 my-lg-0" action="/anime" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% for animes in Anime %}
        
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.dribbble.com/users/2761/screenshots/12219340/media/8eda375c04c71bbeca14c4c71f0fe876.png?compress=1&resize=400x300&vertical=top" class="card-img-top">
            <div class="card-body">
            <h3 class="card-title">{{animes.name}} </h3>
            <h4 class="card-text">{{animes.description}} </h4>
            <td>{{animes.user}} </td><br>
            <a href="update/{{animes.id}}" class="btn btn-primary">Update</a>
            <a href="delete/{{animes.id}}/" class="btn btn-danger">Delete</a>
        </div>
        
    </div>

    {% endfor %}

    <br><h4>Add Post </h4> <a href="add-post" class="btn btn-primary">ADD</a>
{% endblock %}