{% extends 'base.html' %}

{% block title %}
    コード
{% endblock %}
    
{% block content %}
    <h1>CODING</h1>    
        <form class="form-inline my-2 my-lg-0" action="/code" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    
    

        {% for coding in Coding %}
        <div class="card" style="width: 18rem;">
        <img src="https://cdn.dribbble.com/userupload/2445208/file/original-36e8f98866a8475c749554b2e3cecf95.png?resize=400x0" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">{{coding.name}} </h3>
            <h4 class="card-text">{{coding.description}} </h4>
            <td>{{coding.user}} </td><br>
            {% if user.is_superuser %}
            <a href="update/{{coding.id}}" class="btn btn-primary">Update</a>
            <a href="delete/{{coding.id}}/" class="btn btn-danger">Delete</a><br>
            {% endif %}
        </div>
        
    </div>

    {% endfor %}

    <br><h4>Add Post </h4> <a href="add-post" class="btn btn-primary">ADD</a>
{% endblock %}