{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>Geek Space!</h1>
            <p class="text">
                We are a blog, with the objective of making a friendly and sharing community about our website topics. Here you can share your experience, 
                find topics of your interest, search for help in posts made by our users and find reviews and about gaming, programming, crypto and anime.
                With more to come in the near future.

                We are Geek Space, made by Geeks for Geeks
            </p>
            <div class="skills">
                <span>Gaming</span>
                <span>Anime</span>
                <span>Coding</span>
                <span>Crypto</span>
            </div>
        </div>
    </div>
</body>
</html>
    
{% endblock %}