{% extends 'base.html' %}

{% block title %}
    ゲーム
{% endblock %}
    
{% block content %}
    <h1>GAMING</h1>    
        <form class="form-inline my-2 my-lg-0" action="/gaming" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    
        {% for games in Gaming %} 
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.dribbble.com/users/1672258/screenshots/14662345/media/30023c4b42c7199e18c0327d956a0e7f.png?compress=1&resize=400x300" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">{{games.name}}</h3> 
                <h4 class="card-text">{{games.description}} </h4>
                <td> {{games.user}} </td><br>
                {% if user.is_superuser %}
                <a href="update/{{games.id}}" class="btn btn-primary">Update</a>
                <a href="delete/{{games.id}}/" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        
        </div>
            
        
        {% endfor %}
        



    <br><h4>Add Post </h4> <a href="add-post" class="btn btn-primary">ADD</a>
{% endblock %}